<div>
    <button class="btn btn-primary"  (click)="onOptionSelect('Stakeholder')">Stakeholder</button>
    <button class="btn btn-secondary" (click)="onOptionSelect('Tasks')">Tasks</button>
    <button class="btn btn-danger" (click)="onOptionSelect('Issues')">Issues</button>
  </div>
  <h3 *ngIf="option">Option Selected: {{option}}</h3>
  <app-stakeholder *ngIf="selectedOption === 'Stakeholder'" [data]="data.stakeholder"  (stakeholderOption)="optionChange($event)"></app-stakeholder>

  <app-tasks *ngIf="selectedOption === 'Tasks'" [data]="data.tasks"  (taskOption)="optionChange($event)"></app-tasks>
  <app-issues *ngIf="selectedOption === 'Issues'" [data]="data.issue"  (IssueOption)="optionChange($event)"></app-issues>  