<div>
    <button class="btn btn-primary"  (click)="onOptionSelect('Stakeholder')">Stakeholder</button>
    <button class="btn btn-secondary" (click)="onOptionSelect('Tasks')">Tasks</button>
    <button class="btn btn-danger" (click)="onOptionSelect('Issues')">Issues</button>
  </div>
  <app-stakeholder *ngIf="selectedOption === 'Stakeholder'" [data]="data.stakeholder" ></app-stakeholder>
  <app-tasks *ngIf="selectedOption === 'Tasks'" [data]="data.tasks"></app-tasks>
  <app-issues *ngIf="selectedOption === 'Issues'" [data]="data.issue"></app-issues>  